section {
    background-color: #88fff9;
    padding: 20px 0;
}

label input[type="text"]{
    height:28px;
    width:120px;
    border: solid 1px #fff;
    text-align:center;
    color:#075c07;
    border-radius:10px;
    display:block;
}

li input[type="text"]{
    height:28px;
    width:40px;
    border: solid 1px #fff;
    text-align:center;
    color:#075c07;
    border-radius:10px;
}

.columna{
    background-color: #faf395;
    width:100px;
    margin:0;
}